@import "../colors";

.posts-single {
	padding-bottom: 0 !important;

	h2 {
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $grey2;

		&:first-of-type {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}

		& + h3 {
			margin-top: 0;
		}
	}

	p, ul, ol, img {

		& + h2 {
			margin-top: 2.5rem;
		}
	}

	h3 {
		margin-top: 4rem;
		padding-top: 1.5rem;
	}

	p, ul, ol {
		position: relative;

		&.pros {
			&::before {
				content: '';
				background-color: $green1;
				display: inline-block;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 0.25rem;
				position: absolute;
				top: 0.5rem;
				left: -1rem;
			}
		}

		&.cons {
			&::before {
				content: '';
				background-color: $red1;
				display: inline-block;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 0.25rem;
				position: absolute;
				top: 0.5rem;
				left: -1rem;
			}
		}
		
		&.underlined {
		    text-decoration: underline;
		}
	}

	p > img {
		display: block;
		max-width: 100%;
		margin: 1.5rem auto;
		border: var(--post-img-border);
	}

	p + ul {
		margin-top: -1rem;
	}

	.post {

		&__meta {
			margin: 0 0 2rem;
		}

		&__toc {
			background: var(--code-background-color);
			border: 1px solid $grey2;
			border-radius: 5px;
			padding: 1rem 1.25rem;
			margin: 0 0 2rem;

			h2 {
				margin: 0 0 0.75rem;
				padding: 0;
				border: none;
				font-size: 1.1rem;
			}

			nav#TableOfContents {
				ul {
					margin: 0;
					padding-left: 1.25rem;
				}
			}
		}

		&__author,
		&__date,
		&__category {
			font-weight: 600;
			color: $orange1;
		}

		&__comments {
			background-color: $grey3;
			padding: 2rem;
			border-radius: 5px;
			margin-bottom: 0;
		}

		&__related {
			padding: 2rem 0 3rem;
		}
	}
}
