@import "../colors";

.posts-single {

	h2 {
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $grey2;

		&:first-of-type {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}

		& + h3 {
			margin-top: 0;
		}
	}

	p, ul, ol, img {

		& + h2 {
			margin-top: 2.5rem;
		}
	}

	h3 {
		margin-top: 4rem;
		padding-top: 1.5rem;
	}

	p, ul, ol {
		position: relative;

		&.pros {
			&::before {
				content: '';
				background-color: $green1;
				display: inline-block;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 0.25rem;
				position: absolute;
				top: 0.5rem;
				left: -1rem;
			}
		}

		&.cons {
			&::before {
				content: '';
				background-color: $red1;
				display: inline-block;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 0.25rem;
				position: absolute;
				top: 0.5rem;
				left: -1rem;
			}
		}
	}

	p > img {
		display: block;
		max-width: 100%;
		margin: 1.5rem auto;
		border: 1px solid $grey2;
	}

	p + ul {
		margin-top: -1rem;
	}

	.post {

		&__meta {
			margin: 0 0 2rem;
		}

		&__author,
		&__date,
		&__category {
			font-weight: 600;
			color: $orange1;
		}

		&__comments {
			background-color: $grey3;
			padding: 2rem;
			border-radius: 5px;
		}

		&__related {
			padding-top: 2rem;
		}
	}
}
