@import "../colors";

.posts-summary {

	.post-card {

		&__header {

		}

		&__body {

		}

		&__meta {
			margin: 0 0 1rem;
		}

		&__author,
		&__date,
		&__category {
			font-weight: 600;
			color: $orange1;
		}

		&__category {
			margin-right: 0.375rem;
		}

		&__title {

		}

		&__content {

		}

		&__reading-time {

		}
	}
}

