{{ define "main" }}
<main role="main" class="posts-single">
  <section class="post">
    <div class="container">
      <div class="row">
        <h1>{{ .Title }}</h1>
        <div class="post__meta">
          Par <span class="post__author">{{ .Site.Params.Author }}</span>
          , le <span class="post__date"><time>{{ .PublishDate | time.Format ":date_long"}}</time></span>
          , dans <span class="post__category">{{ range .Params.categories }}{{ . | title }} {{ end }}</span>
          · <span class="post__reading-time">{{ math.Round (div (countwords .Content) 220.0) }} minutes</span>
        </div>
        {{ .Content }}
      </div>
    </div>
  </section>
  <section class="post__related">
    <div class="container">
      <div class="row">
        <a href="/posts">← Revenir à la liste des articles</a>
      </div>
    </div>
  </section>
</main>
{{ end }}
