{{ define "main" }}
<main aria-role="main" class="posts-single">
  <div class="container post">
    <div class="row">
      <section class="post__body">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </section>
    </div>
    <div class="row">
      <section class="post__comments">
        {{ template "_internal/disqus.html" . }}
      </section>
    </div>
    <div class="row">
      <section class="post__related">
        {{ with .Site.GetPage "/posts" }}
        <a href="{{ .Permalink }}">Revenir à la liste des articles</a>
        {{ end }}
      </section>
    </div>
  </div>
</main>
{{ end }}
