/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-700italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

/* Nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }

/* Nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf"); }

html {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  color: #222222; }

body {
  margin: 0; }

pre {
  overflow: auto; }

blockquote {
  background: #F8F9FA;
  margin: 0;
  padding: 15px 30px;
  border-left: 3px solid #0dcaf0; }

.container {
  max-width: 800px;
  margin: 0 auto; }
  .container > .row {
    padding: 15px; }
    @media screen and (min-width: 769px) {
      .container > .row {
        padding: 0; } }
    @media screen and (min-width: 992px) {
      .container > .row {
        padding: 0; } }
.posts-single p > img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }
