@import "colors";

*, :after, :before {
	box-sizing: border-box;
}

html {
	font-family: Nunito, sans-serif;
	font-size: 18px;
	color: #24292f;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.5rem 0 1rem;

	&:first-child {
		margin-top: 0;
	}
}

p, ol, ul {
	margin: 0 0 1.5rem;

	&:last-child {
		margin-bottom: 0;
	}
}

li {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

pre {
	overflow: auto;
}

blockquote {
	background: #F8F9FA;
	margin: 0 0 1rem;
	padding: 1rem 1.5rem;
	border-left: 3px solid #0594cb;
	overflow: auto;
	border-radius: 0.25rem;
}

code {
	display: inline-block;
	padding: 0 0.3rem;
	position: relative;
	color: $red1;

	&::before {
		background: $grey3;
		border-radius: 0.2rem;
		bottom: 0.1em;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0.1em;
		z-index: -1;
	}
}

a {
	color: $blue1;
}
