html {
	font-family: Nunito, sans-serif;
	font-size: 18px;
	color: #222222;
}

body {
	margin: 0;
}

pre {
	overflow: auto;
}

blockquote {
	background: #F8F9FA;
	margin: 0;
	padding: 2px 30px;
	border-left: 3px solid #0594cb;
}

a {
	color: #0594cb;
}
