@import "./colors";

.resumes__description {
    margin-bottom: 4rem;
}

.resume {
    margin-bottom: 2rem;
}

.resume__title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.resume__version {
    margin-bottom: 0.5rem;
}