@import "./colors";

.resume-section {
    margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid $grey2;

	&:first-of-type {
		margin-top: 0;
		padding-top: 0;
		border-top: none;
	}
}

.experience {
    margin-bottom: 2rem;
}

.experience__title {
    margin-bottom: 0rem;
}

.experience__meta {
    margin-bottom: 1rem;
    color: $grey8;
}