.site-header {
  border: none;
}

.portrait-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.portrait {
  border-radius: 50%;
  width: 192px;
}

.site-title {
  display: none;
}
