//@import "Marianne";

body {
  background-color: #fff;
  font-family: Marianne,Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #24292e;
}

article.post {

  color: #393939;

  h2 {
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 15px;
  }
}
