{{ define "main" }}
<main aria-role="main">
  <section id="presentation">
    <div class="container">
      <div class="row">
        <header class="homepage-header">
          <h1>{{.Title}}</h1>
          {{ with .Params.subtitle }}
          <span class="subtitle">{{.}}</span>
          {{ end }}
        </header>
        <div class="homepage-content">
          {{.Content}}
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section id="last-articles">
    <div class="container">
      <div class="row">
        <h2>Derniers articles de blog</h2>
        <div class="posts">
          <ul class="posts__list" role="list">
            {{ range first 5 .Site.RegularPages }}
            <li class="posts__item">
              {{ .Render "summary"}}
            </li>
            {{ end }}
          </ul>
          <a href="/posts">Découvrir tous les articles</a>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section id="last-tweets">
    <div class="container">
      <div class="row">
        <h2>Derniers tweets</h2>
        <a class="twitter-timeline" href="https://twitter.com/jbuget?ref_src=twsrc%5Etfw" data-width="500"
           data-chrome="noheaders nofooter noborders" data-tweet-limit="5"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </section>
</main>
{{ end }}
