{{ define "main" }}
<main aria-role="main">
  <section id="presentation">
    <div class="container">
      <div class="row">
        <div class="homepage-content">
          {{.Content}}
        </div>
      </div>
    </div>
  </section>
  <section id="last-articles">
    <div class="container">
      <div class="row">
        <h2>Derniers articles de blog</h2>
        <div class="posts">
          <ul class="posts__list" role="list">
            {{ range first 5 .Site.RegularPages }}
            <li class="posts__item">
              {{ .Render "summary"}}
            </li>
            {{ end }}
          </ul>
          <a href="/posts">Découvrir tous les articles</a>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
