<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Title Tags -->
  <title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.Description }}" />
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}"/>
  <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}"/>
  <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}"/>
  <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}"/>
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}"/>

  <!-- Description Tags -->
  <meta name="description" content="{{ .Params.description }}"/>
  <meta itemprop="description" content="{{ .Params.description }}"/>
  <meta property="og:description" content="{{ .Params.description }}"/>
  <meta name="twitter:description" content="{{ .Params.description }}"/>

  <!-- Link Tags -->
  <base href="{{ .Permalink }}">
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url"/>
  <meta name="url" content="{{ .Permalink }}"/>
  <meta name="twitter:url" content="{{ .Permalink }}"/>
  <meta property="og:url" content="{{ .Permalink }}"/>

  <!-- Language Tags -->
  <meta property="og:locale" content="{{ .Language.Lang }}">
  <meta name="language" content="{{ .Language.LanguageName }}">
  {{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}

  <!-- Image Tags -->
  {{ with .Params.image }}
  <meta itemprop="image" content="{{ . | absURL }}"/>
  <meta property="og:image" content="{{ . | absURL }}"/>
  <meta name="twitter:image" content="{{ . | absURL }}"/>
  <meta name="twitter:image:src" content="{{ . | absURL }}"/>
  {{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}"/>
  <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}"/>
  <meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}"/>
  <meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}"/>
  {{ end }}

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <!-- Preloaded fonts -->
  <link rel="preload" href="/fonts/Nunito-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin>

  <!-- Custom and optimized FontAwesome icons kit -->
  {{ $faOpts := dict "outputStyle" "compressed" }}
  {{ $faBundle := resources.Match "custom/fontawesome/css/*.css" | resources.Concat "css/fontawesome.css" | css.Sass $faOpts }}
  {{ $faCSS := resources.Minify $faBundle | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $faCSS.RelPermalink }}" integrity="{{ $faCSS.Data.Integrity }}">

  <!-- Styles -->
  {{ $styleOpts := dict "outputStyle" "compressed" }}
  {{ $styleSass := resources.Get "css/styles.scss" }}
  {{ $styleCSS := $styleSass | css.Sass $styleOpts | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $styleCSS.RelPermalink }}" integrity="{{ $styleCSS.Data.Integrity }}" >

  <!-- Scripts -->
  {{ $opts := dict "targetPath" "app.js" "minify" "true" "sourceMap" "inline" }}
  {{ $built := resources.Get "js/index.js" | js.Build $opts }}
  {{ $securedJS := $built | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $securedJS.RelPermalink }}" integrity="{{ $securedJS.Data.Integrity }}" defer></script>

  <!-- Buymeacoffee -->
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="jbuget" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF5F5F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  
  <!-- Analytics -->
  <!-- <script defer data-domain="jbuget.fr" src="https://analytics.jbuget.fr/js/plausible.js"></script> -->
  {{ template "_internal/google_analytics.html" . }}

</head>
