<div class="theme-switcher-menu">
  <button class="theme-switcher-menu__toggle" aria-controls="themes-menu" aria-haspopup="menu" type="button" aria-expanded="false">
    <span class="theme-switcher-menu__option"><i id="theme-switcher-menu__icon" class="fa-solid fa-circle-half-stroke"></i>Theme</span>
  </button>
  <ul class="theme-switcher-menu__list hidden" role="menu" aria-labelledby="themes-menu-button">
    <li class="theme-switcher-menu__item" role="none" >
      <button class="theme-switcher-menu__button" type="button" data-theme-option="os-default">
        <span class="theme-switcher-menu__option"><i class="fa-solid fa-circle-half-stroke"></i>OS Default</span>
      </button>
    </li>
    <li class="theme-switcher-menu__item" role="none" >
      <button class="theme-switcher-menu__button active" type="button" data-theme-option="light">
        <span class="theme-switcher-menu__option"><i class="fa-solid fa-sun"></i>Light</span>
      </button>
    </li>
    <li class="theme-switcher-menu__item" role="none" >
      <button class="theme-switcher-menu__button" type="button" data-theme-option="dark">
        <span class="theme-switcher-menu__option"><i class="fa-solid fa-moon"></i>Dark</span>
      </button>
    </li>
  </ul>
</div>
