@import "../colors";

html[data-theme='light'] {
	--page-footer-background: #{$grey3};
	--page-footer-border-color: #{$grey6};
	--page-footer-link-color: #{$blue2};
}

html[data-theme='dark'] {
	--page-footer-background: #{$dark2};
	--page-footer-border-color: #{$dark3};
	--page-footer-link-color: #{$dark5};
}

.page-footer {
	min-height: 60px;
	display: flex;
	flex-direction: column;
	background-color: var(--page-footer-background);

	a {
		color: var(--page-footer-link-color);
		text-decoration: none;
	}

	&__links {
		border-top: 1px solid var(--page-footer-border-color);
		padding: 2rem 0;
	}

	&__copyright {
		width: 100%;
		padding: 0.5rem 0;
		font-size: 0.75rem;
		border-top: 1px solid var(--page-footer-border-color);
		text-align: center;
	}

	.footer__links {
		margin: 0 0 1rem;
		padding: 0;
		list-style: none;

		@media screen and (min-width: 992px) {
		    margin-bottom: 0;
		}
	}

	.footer__links-header {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 0.85rem;
		margin: 0;
		padding: 0;
	}

	.footer__link {
		margin: 8px 0 0;
		padding: 0;
	}
}
