@import "../colors";

html[data-theme='light'] {
	--page-header-border-bottom-color: #{$grey2};
	--page-header-navlink-background-hover: #1870f010;
}

html[data-theme='dark'] {
	--page-header-border-bottom-color: #{$dark4};
	--page-header-navlink-background-hover: #3a3944;
}

.page-header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid var(--page-header-border-bottom-color);

	.row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media screen and (min-width: 992px) {
			flex-direction: row;
			height: 60px;
		}
	}

	h1 {
		display: inline-block;
		margin: 0;
	}

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: 992px) {
			flex-direction: row;
		}


		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: column;

			@media screen and (min-width: 769px) {
				flex-direction: row;
			}

			li {
				margin: 0;
				padding: 0;
			}
		}
	}

	.navlink {
		display: inline-block;
		padding: 0.5rem 1rem;
		border-radius: 5px;

		&:focus,
		&:hover {
			background-color: var(--page-header-navlink-background-hover);
		}
	}
}
