@import "../colors";

html[data-theme='light'] {
	--page-header-border-bottom-color: #{$grey2};
	--page-header-navlink-background-hover: #1870f010;
}

html[data-theme='dark'] {
	--page-header-border-bottom-color: #{$dark4};
	--page-header-navlink-background-hover: #3a3944;
}

.page-header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid var(--page-header-border-bottom-color);
	position: relative;

	> .container {
		@media screen and (max-width: 991px) {
			width: 100%;
		}
	}

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (min-width: 992px) {
			height: 60px;
		}
	}

	h1 {
		display: inline-block;
		margin: 0;
		flex: 1;

		@media screen and (min-width: 992px) {
			flex: initial;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	// Checkbox hidden but functional
	.nav-toggle {
		display: none;
	}

	// Burger button
	.nav-toggle-label {
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 1.5rem;
		padding: 0.5rem 0;

		@media screen and (min-width: 992px) {
			display: none;
		}
	}

	nav {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: var(--background-color);
		border-bottom: 1px solid var(--page-header-border-bottom-color);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 0;

		@media screen and (min-width: 992px) {
			display: flex;
			position: static;
			background-color: transparent;
			border-bottom: none;
			width: auto;
			flex-direction: row;
			padding: 0;
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: column;
			width: 100%;
			text-align: center;

			@media screen and (min-width: 992px) {
				flex-direction: row;
				width: auto;
			}

			li {
				margin: 0;
				padding: 0;
			}
		}
	}

	// Show nav when burger is checked (mobile only)
	#nav-toggle:checked ~ nav {
		display: flex;
	}

	.navlink {
		display: inline-block;
		padding: 0.5rem 1rem;
		border-radius: 5px;

		&:focus,
		&:hover {
			background-color: var(--page-header-navlink-background-hover);
		}
	}
}
