@import "../colors";

.page-header {
	min-height: 60px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid $grey2;

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 769px) {
		    flex-direction: row;
		}

		li {
			margin: 0;
			padding: 0;
		}
	}

	.navlink {
		display: inline-block;
		padding: 0.5rem 1rem;
	}
}
